<br>
<div class="col-md-4"></div>
<div class="mx-auto text-center col-md-4">

  <form class="form-signin" method="POST" action="/login">
    <img class="mb-4" src="/img/rs-logo.png" alt="" width="90" height="130">
    <h1 class="h3 mb-3 font-weight-normal">Rochester School<br>Little Dictionary</h1>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Rochester School Code</label>
      <input type="text" name="username" placeholder="Username" class="form-control" autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" placeholder="Password" class="form-control">
    </div>
    {{!--
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
    --}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">Rochester School 2019</p>
  </form>

</div>