<div class="container">
  <br>
  <h1 class="title-LCA">Credits</h1>
  <br>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-md-6">
      <img class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image" width="140" height="140">
      <h2>Juan Pablo Aljure</h2><br>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p><br>
    </div>
    <div class="col-md-6">
      <img class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image" width="140" height="140">
      <h2>Richard Moreno</h2><br>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p><br>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <h1 class="title-LCA">Developer Teachers</h1>
  <br>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-md-6">
      <img class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image" width="140" height="140">
      <h2>Alejandro Zarate</h2><br>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p><br>
    </div>
    <div class="col-md-6">
      <img class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image" width="140" height="140">
      <h2>Marcos Aguilera</h2><br>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image" width="140" height="140">
      <h2>David Miranda</h2><br>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p><br>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <h1 class="title-LCA">Student</h1>
  <br>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-md-6">
      <img class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image" width="140" height="140">
      <h2>Luis Carlos A. Pardo</h2><br>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p><br>
    </div>
  </div>
</div>