<main class="index">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to<br>Rochester School's<br>Little Dictionary!</h1>
      <p>A tool for students to learn easily in their own way.</p>
      <p><a class="btn btn-primary btn-lg" href="/graduation_project" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container marketing">
    <div class="row">
      <div class="col-md-4">
        <img class="rounded-circle" src="/img/thank_you.jpg" alt="Thank You" width="170" height="140">
        <h2>Acknowledgments</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="/credits" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <img class="rounded-circle" src="/img/rs-logo.png" alt="Rochester School Logo" width="100" height="140">
        <h2>Rochester School</h2>
        <p>Rochester School is an educational foundation committed to the education of students in a healthy,
          comprehensive and multifaceted environment, which provides students with the tools to function as citizens and
          people willing to comply with society and its goals.</p>
        <p><a class="btn btn-secondary" href="https://rochester.edu.co/" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <img class="rounded-circle" src="/img/graduation_pro.svg.png" alt="Graduation" width="140" height="140">
        <h2>Graduation Project</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
          felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="/graduation_project" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>
    <footer class="container">
      <p>Rochester School 2018-2019</p>
    </footer>
  </div>
</main>